<div>
  <h4>Add New Game</h4>
  <form #gameForm="ngForm" (ngSubmit)="onUpdate()">
    <div class="form-group">
       <label>Game Name</label>
       <input class="form-control" name="name" #name="ngModel" 
        [(ngModel)]="game.name" placeholder="Game Name" required>
    </div>

    <div class="form-group">
      <label>Image Url</label>
      <input class="form-control" name="image" #name="ngModel" 
        [(ngModel)]="game.image" placeholder="Image" required>
    </div>

     <div class="form-group">
       <label>Description</label>
       <input class="form-control" name="description" #name=ngModel 
         [(ngModel)]="game.description" required>
      </div>

        <div class="form-group float-right">
           <button type="submit" class="btn btn-success" 
             [disabled]="!gameForm.valid" [disabled]="gameForm.invalid">
              <i class="bi bi-plus"></i>UpdateGame</button>
        </div>
    </form>
</div>
