<div>
  <h4 class="text-center pt-3">Add New Game</h4>
  <form #gameForm="ngForm" (ngSubmit)="onSubmit(gameForm)">
    <div class="form-group mx-3">
       <label>Game Name</label>
       <input class="form-control" name="name" #name="ngModel" 
        [(ngModel)]="game.name" placeholder="Game Name" required>
    </div>

    <div class="form-group mx-3">
      <label>Image Url</label>
      <input class="form-control" name="image" #name="ngModel" 
        [(ngModel)]="game.image" placeholder="Image" required>
    </div>

     <div class="form-group mx-3">
       <label>Description</label>
       <input class="form-control" name="description" #name=ngModel 
         [(ngModel)]="game.description" required>
      </div>

        <div class="form-group float-right mt-3 mr-3">
           <button type="submit" class="btn btn-warning" 
            [disabled]="!gameForm.valid" [disabled]="gameForm.invalid">
            Add Game</button>
        </div>
    </form>
</div>
